<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <div>
      <label for="email">Email/Username:</label>
      <input type="text" id="email" formControlName="email">
      <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
        <div *ngIf="loginForm.controls.email.errors.required">Email/Username is required</div>
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      </div>
    </div>
  
    <button type="submit">Login</button>
  </form>

